{% extends 'base.html' %}
{% block page_content %}
    <div class="row justify-content-center">
        <div class="d-flex">
            <div class="d-inline p-2 w-50">
                <img src="{{ profile.profile_picture }}"
                     class="w-50 rounded mx-auto d-block" alt="description">
            </div>
            <div class="d-inline p-2 w-50">
                <div class="d-flex flex-column">
                    <h5><strong>Name:</strong> {{ profile.first_name }} {{ profile.last_name }}</h5>
                    {% if is_owner or request.user.is_superuser %}
                        {% if profile.email %}
                            <h5><strong>Email:</strong> {{ profile.email }}</h5>
                        {% endif %}
                        {% if profile.gender %}
                            <h5><strong>Gender:</strong> {{ profile.gender }}</h5>
                        {% endif %}

                        <h5><strong>Member since:</strong> {{ profile.date_created }}</h5>

                        {% if profile.description %}
                            <h5><strong>Description:</strong> {{ profile.description }}</h5>
                        {% endif %}
                    {% endif %}
                    {% if all_projects %}
                        <h5><strong>Total Projects:</strong> {{ total_projects_count }}</h5>
                        <h5><strong>All projects: </strong></h5>
                        {% for proj in all_projects %}
                            <li><a href="{% url 'project details' proj.pk %}">{{ proj }}</a></li>
                        {% endfor %}
                    {% endif %}
                </div>
                {% if is_owner or request.user.is_superuser %}
                    <a href="{% url 'edit user' profile.pk %}" class="btn btn-primary">Edit</a>
                    <a href="{% url 'delete user' profile.pk %}" class="btn btn-danger">Delete</a>

                {% endif %}
            </div>
        </div>
<div>
                    <a class="btn btn-primary" href="javascript:history.back()">Go back</a>
                    </div>
    </div>
{% endblock %}
