{% extends 'base.html' %}
{% block page_content %}
    <div>
        {% if profiles %}
            <div class="container mb-5">
                <div class="row mb-5">
                    {% for prof in profiles %}
                        {% if prof.is_active %}
                        <div class="col">
                        <div class="card h-100">
                            <img src="{{ prof.profile_picture }}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">Names: {{ prof }}</p>
                                <p class="card-text">Email: {{ prof.email }}</p>
                                <p class="card-text">Date Created: {{ prof.date_created }}</p>
                                <p class="card-text">Description: {{ prof.description }}</p>
                                <p class="card-text">Gender: {{ prof.gender }}</p>
                            </div>
                            <a href="{% url 'profile projects' prof.pk %}" class="btn btn-primary">Projects</a>
                            <a href="{% url 'edit user' prof.pk %}" class="btn btn-primary">Edit</a>
                            <a href="{% url 'delete user' prof.pk %}" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

                  <ul class="pagination justify-content-center flex-wrap mt-2 mb-4">
    {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
        <li class="disabled page-item"><span class="page-link">&laquo;</span></li>
    {% endif %}
    {% for i in page_range|default_if_none:page_obj.paginator.get_elided_page_range %}
        {% if page_obj.number == i %}
            <li class="active page-item"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span>
            </li>
        {% else %}
            {% if i == page_obj.paginator.ELLIPSIS %}
                <li class="page-item"><span class="page-link">{{ i }}</span></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
        <li class="disabled page-item"><span class="page-link">&raquo;</span></li>
    {% endif %}
</ul>

        {% endif %}
    </div>

{% endblock %}