{% extends 'base.html' %}
{% block page_content %}

    <div>
        {% if not request.user.is_authenticated %}
            <div class="container mb-5">
                <div class="row mb-5">
                    <p>
                        <span>You must be registered, in order to see the categories. Click
                            <a href="{% url 'register user' %}">here</a> to register</span>
                    </p>
                </div>
            </div>
        {% else %}
            <div class="row mb-5">
                <a class="btn btn-primary btn-lg" href="{% url 'categories' %}" role="button">Show Categories</a>
            </div>
        {% endif %}
        <div class="row mb-5">
            <a class="btn btn-primary btn-lg" href="{% url 'projects' %}" role="button">Show All Projects</a>
        </div>

    </div>


{% endblock %}