{% extends 'base.html' %}
{% block page_content %}
    <div>
        <h1 class='text-center'>
            {% if projects %}
                <div class="container mb-5">
                    All projects
                    {% if category %}
                        in {{ category }}
                    {% endif %}

                    {% if profile %}
                        of {{ profile }}
                    {% endif %}
                </div>

            {% else %}
                <div class="container mb-5"> No projects yet</div>
                {% if request.user.is_authenticated %}
                    <div>
                        <a class="btn btn-primary btn-lg" href="{% url 'create project' %}">New Project</a>
                    </div>
                {% endif %}
                <a class="btn btn-primary" href="javascript:history.back()">Go back</a>
            {% endif %}
        </h1>

        {% if projects %}
            <div class="row row-cols-3 row-cols-md-3 g-3">
                {% for el in projects %}
                    <div class="col">
                        <div class="card h-100" style="width: 20rem;">
                            <img src="{{ el.project_image.url }}" class="card-img-top" alt="..."
                                 style="width: auto;">
                            <div class="card-body">
                                <p class="card-text text-center">{{ el.name }}</p>
                            </div>
                            <a href="{% url 'project details' el.pk %}" class="btn btn-primary">See details</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            </div>

{#            Different style of pagination#}
{#            <div class="pagination">#}
{#    <span class="step-links">#}
{#        {% if page_obj.has_previous %}#}
{#            <a href="?page=1">&laquo; first</a>#}
{#            <a href="?page={{ page_obj.previous_page_number }}">previous</a>#}
{#        {% endif %}#}
{##}
{#        <span class="current">#}
{#            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.#}
{#        </span>#}
{##}
{#        {% if page_obj.has_next %}#}
{#            <a href="?page={{ page_obj.next_page_number }}">next</a>#}
{#            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>#}
{#        {% endif %}#}
{#    </span>#}

                <ul class="pagination justify-content-center flex-wrap mt-2 mb-4">
    {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
        <li class="disabled page-item"><span class="page-link">&laquo;</span></li>
    {% endif %}
    {% for i in page_range|default_if_none:page_obj.paginator.get_elided_page_range %}
        {% if page_obj.number == i %}
            <li class="active page-item"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span>
            </li>
        {% else %}
            {% if i == page_obj.paginator.ELLIPSIS %}
                <li class="page-item"><span class="page-link">{{ i }}</span></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
        <li class="disabled page-item"><span class="page-link">&raquo;</span></li>
    {% endif %}
</ul>


        {% endif %}
    </div>

{% endblock %}