{% extends 'base.html' %}
{% block page_content %}

    {% if categories %}
        <div class="row row-cols-3 row-cols-md-3 g-3">
            {% for cat in categories %}
                <div class="col">
                    <div class="card mb-3" style="width: 20rem;">
                        <img class="card-img-top" src="{{ cat.category_image }}" style="width: auto; height: 195px;">
                        <div class="card-body">
                            <p class="card-text">{{ cat.category_description }}</p>
                        </div>
                        <a href="{% url 'category projects' cat.pk %}" class="btn btn-primary">{{ cat }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>


    {% else %}
        <div class="container mb-5">
            <h2>No Categories at this stage...</h2>
            <a href="{% url 'dashboard' %}" class="btn btn-primary">Go Back</a>
            {% if request.user.is_superuser %}
                <a href="{% url 'create category' %}" class="btn btn-primary">Create Category</a>
            {% endif %}
        </div>
    {% endif %}
{##}
{##}
    {#            Different style of pagination#}
{#        <div class="pagination">#}
{#    <span class="step-links">#}
{#        {% if page_obj.has_previous %}#}
{#            <a href="?page=1">&laquo; first</a>#}
{#            <a href="?page={{ page_obj.previous_page_number }}">previous</a>#}
{#        {% endif %}#}
{##}
{#        <span class="current">#}
{#            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.#}
{#        </span>#}
{##}
{#        {% if page_obj.has_next %}#}
{#            <a href="?page={{ page_obj.next_page_number }}">next</a>#}
{#            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>#}
{#        {% endif %}#}
{#    </span>#}
{#        </div>#}

    <ul class="pagination justify-content-center flex-wrap mt-2 mb-4">
    {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
        <li class="disabled page-item"><span class="page-link">&laquo;</span></li>
    {% endif %}
    {% for i in page_range|default_if_none:page_obj.paginator.get_elided_page_range %}
        {% if page_obj.number == i %}
            <li class="active page-item"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span>
            </li>
        {% else %}
            {% if i == page_obj.paginator.ELLIPSIS %}
                <li class="page-item"><span class="page-link">{{ i }}</span></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
        <li class="disabled page-item"><span class="page-link">&raquo;</span></li>
    {% endif %}
</ul>

{% endblock %}