{% extends 'base.html' %}
{% block page_content %}

    {% if categories %}
        <div class="row row-cols-3 row-cols-md-3 g-3">
            {% for cat in categories %}
                <div class="col">
                    <div class="card mb-3" style="width: 20rem;">
                        <img class="card-img-top" src="{{ cat.category_image }}" style="width: auto; height: 195px;">
                        <div class="card-body">
                            <p class="card-text">{{ cat.category_description }}</p>
                        </div>
                        <a href="{% url 'category projects' cat.pk %}" class="btn btn-primary">{{ cat }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>


    {% else %}
        <div class="container mb-5">
            <h2>No Categories at this stage...</h2>
            <a href="{% url 'dashboard' %}" class="btn btn-primary">Go Back</a>
            {% if request.user.is_superuser %}
                <a href="{% url 'create category' %}" class="btn btn-primary">Create Category</a>
            {% endif %}
        </div>
    {% endif %}


        <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
        </div>

{% endblock %}